node_modules
dist
dist-electron/
.vite
.vscode
.env*
!.env.overlay
.env.*
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
